* {
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
  }
  .box {
    width: 300px;
    background-color: skyblue;
    font-size: 50px;
    border: 10px dashed black;
    padding : 100px;
    margin: 50px;
  }
  
